# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg*.egg-info/
dist/
build/
*.manifest
*.spec
*.log

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/
.history/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.db
*.sqlite

# PyInstaller
*.spec

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pipenv
Pipfile.lock

# poetry
poetry.lock

# Others
*.swp
*.swo
.idea/

*.onnx
*.png